@import url("https://cdn.syncfusion.com/ej2/material.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";


@theme {

  --font-display: 'Open Sans', sans-serif;
  --font-body: 'Open Sans', sans-serif;

  --text-14: 14px;

  --color-main-bg: #FAFBFB;
  --color-main-dark-bg: #20232A;
  --color-secondary-dark-bg: #33373E;
  --color-light-gray: #F7F7F7;
  --color-half-transparent: rgba(0,0,0,0.5);

  --border-1: 1px;
  --color-borderColor: rgba(0,0,0,0.1);
  
  --background-image-hero-pattern: url("/welcome-bg.svg");
}


@custom-media --dark (prefers-color-scheme: dark);
:root { color-scheme: light; }
.dark { color-scheme: dark; }



@layer components {

  .sidebar {
    box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
  }


  .navbar {
     z-index: 10000;
  }

  .nav-item {
    z-index: 10000;
  }

  @media screen and (max-width:800px) {
    .sidebar {
      z-index: 10000000;
    }
  }

  .e-dlg-center-center,
  .e-quick-popup-wrapper.e-device {
    z-index: 1000000 !important;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
    border-radius: 40px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  #preview {
    background: transparent url("/pen.png") no-repeat;
    display: inline-block;
    height: 80px;
    margin: 10px 0;
    min-width: 300px;
    max-width: 600px;
    background-color: #008000;
  }

  .e-input-group:not(.e-float-icon-left),
  .e-input-group.e-success:not(.e-float-icon-left),
  .e-input-group.e-warning:not(.e-float-icon-left),
  .e-input-group.e-error:not(.e-float-icon-left),
  .e-input-group.e-control-wrapper:not(.e-float-icon-left),
  .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
  .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
  .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
    border: none;
  }

}

